////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////       VARIABLES & MIXINS

$detail-size: clamp(0.8125rem, 0.7564rem + 0.2332vw, 1.0625rem); //min fsz:13px max: 17
$bleu : #00617F;
$pale : #B8C9E1;
$blanc : #FEFE;
$noir : #131413;

@mixin shadow-card {
    background: rgba(0, 97, 127, 0.3);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(184, 201, 225, 0.15);
    padding: 2vmin;
    border-radius: 2rem;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////       HEADERS & TEXTS
/// Clamp inputs 
h1 {
    font-size: clamp(1.875rem, 1.7014rem + 0.9259vw, 2.8125rem); //300-1920-30-45
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    color: $noir;
    //specificity for header
    a {
        color: $noir;
    }
}

li {
    font-size: clamp(1.125rem, 0.9861rem + 0.7407vw, 1.875rem); //300-1920-18-20
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    color: $noir;

    //specificity for header
    a {
        color: $noir;
        &:hover {
            color: $pale;   
        }
        &:active{
            color: $bleu;
        }
    }
}

p {
  font-family: "Raleway", sans-serif;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////       RESETS
html {
    margin: 0;

    * {
        margin: 0;
    }
}
.nojq {
    display: none;
}
body {
    overflow-x: hidden;
    margin: 0 clamp(0.625rem, 2.632vw - 0.033rem, 3.125rem); //10-50-400-1920-16
}