////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////       VARIABLES & MIXINS

$detail-size: clamp(0.8125rem, 0.7564rem + 0.2332vw, 1.0625rem); //min fsz:13px max: 17
$bleu : #00617F;
$pale : #B8C9E1;
$blanc : #FEFE;
$noir : #131413;

@mixin shadow-card {
    background: rgba(0, 97, 127, 0.3);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(184, 201, 225, 0.15);
    padding: 2vmin;
    border-radius: 2rem;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////       HEADERS & TEXTS
/// Clamp inputs 
body {
    display: flex;
    flex-direction: column;
    margin-top: calc(10vw + clamp(0.625rem, 0.617vw + 0.509rem, 1.25rem)*2);

    p {
        font-size: clamp(1rem, 0.9074rem + 0.4938vw, 1.5rem);
    }
    h5 {
        font-size: clamp(1.25rem, 1.1343rem + 0.6173vw, 1.875rem);
    }

    &>*:not(footer) {
        padding: clamp(0.625rem, 0.617vw + 0.509rem, 1.25rem);
    }

    footer {
        text-align: center;
        padding: clamp(.625rem, .617vw + .509rem, 1.25rem) clamp(.625rem, .617vw + .509rem, 1.25rem) 0 clamp(.625rem, .617vw + .509rem, 1.25rem);
        font-size: clamp(0.625rem, 0.5556rem + 0.3704vw, 1rem);
    }
}