header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(3.125rem, 1.974vw + 2.632rem, 5rem);

    h1 {
        font-size: clamp(1.875rem, 1.7014rem + 0.9259vw, 2.8125rem); //300-1920-30-45
    }

    .logos {
        display: flex;
        justify-content: flex-end;
        column-gap: clamp(0.313rem, 0.658vw + 0.148rem, 0.938rem); //5-15-400-1920-16
        
        img {
            width: clamp(1.563rem, 0.329vw + 1.48rem, 1.875rem); //25-50-400-1920-16
            height: auto;
        }

        &> :not(img) {
            display: flex;
            position: absolute;
            margin: clamp(3.125rem, 1.974vw + 2.632rem, 5rem) clamp(0.625rem, 2.632vw - 0.033rem, 3.125rem) 0; //50-80-400-1920-16(top) 10-50-400-1920-16(sides)
            z-index: 2;
            
            &:has(input) {
                display: none;
                justify-content: center;
                row-gap: clamp(1rem, 0.247vw + 0.954rem, 1.25rem);

                input:nth-of-type(1) {
                    width: clamp(14.688rem, 87.963vw - 1.806rem, 103.75rem); //235-1660-300-1920-16
                }
                input:nth-of-type(2) {
                    width: clamp(1.563rem, 1.645vw + 1.151rem, 3.125rem); //25-50-400-1920-16
                }
            }

            &:has(li) {
                flex-direction: column;
                align-items: center;
                width: clamp(16.25rem, 99.383vw - 2.384rem, 116.875rem); //260-1870-300-1920-16
                height: clamp(7.5rem, 11.111vw + 5.417rem, 18.75rem); //120-300-300-1920-16
                list-style-type: none;
                padding: 0;
                row-gap: clamp(1rem, 0.247vw + 0.954rem, 1.25rem); //16-20-300-1920-16

                li {
                    font-size: clamp(1.125rem, 0.9861rem + 0.7407vw, 1.875rem); //300-1920-18-20
                }
            }
        }

    }


    @media screen and (min-width: 900px) {
        .logos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // column-gap: clamp(0.313rem, 0.658vw + 0.148rem, 0.938rem); //5-15-400-1920-16
            
            img {
                // width: clamp(1.563rem, 0.329vw + 1.48rem, 1.875rem); //25-30-400-1920-16
                // height: auto;
                &:nth-of-type(2) {
                    display: none;
                }
            }

            
        &> :not(img) {
            position: unset;
            margin: unset;

            &:has(input) {
                order: -1;

                input:nth-of-type(1){
                    width: clamp(6.25rem, 13.158vw + 2.961rem, 18.75rem); //100-300-400-1920-16
                }
                input:nth-of-type(2) {
                    width: clamp(1.563rem, 0.329vw + 1.48rem, 1.875rem); //25-30-400-1920-16
                    height: auto;
                }
            }

            &:has(li) {
                display: flex;
                justify-content: space-between;
                column-gap: clamp(1rem, 0.247vw + 0.954rem, 1.25rem); //16-20-400-1920-16
                width: unset;
                height: unset;
                flex-direction: row;
            }
        }
        }
    }
}