section.s5 {
    background-color: $bleu;
    color: $pale;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>* {
        white-space: nowrap;
        font-size: initial;
    }
    span {
        align-self: flex-end;
    }
}