section.s2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        white-space: nowrap;
    }

    .gauche {
        display: flex;
        flex-direction: column;
        margin: 2vmax 0;
        row-gap: 4vmin;
        p {
            text-align: justify;
            @include shadow-card;
            width: 80vw;
        }
    }
    .droite {
        display: flex;
        flex-direction: row;
        margin: 2vmax 0;
        row-gap: 4vmin;
        img {
            max-width: 20vmax;
        }
        img:first-of-type {
            top: 20px;
            rotate: -5deg;
            align-self: center;
        }
        img:last-of-type {
            bottom: 20px;
            align-self: center;
        }
    }
}