section.single {

    .portfolio.item {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            text-align: center;
        }

        img {
            margin: 2vmax 0 1vmax;
            width: 40vmax;
            height: auto
        }

        .groupport {
            @include shadow-card;
            width: 40vmax;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 1rem;

            & div>* {
                margin: .5vmax 0;
            }

            .desc {
                text-align: justify;
            }

            .link {
                text-align: center;
                margin: 2vmin;

                a {
                    text-decoration: none;
                    background-color: $pale;
                    color: $noir;
                    padding: 1vmin;
                    border-radius: 2rem; 
                    transition: all .5s;
                }
            }

            .link:hover {
                a {
                    background-color: $bleu;
                    color: $blanc;
                }
            }
        }
    }

    .retour {
        color: $bleu;
        transition: all .5s;
        padding: 1vmin;
        margin: 1vmin;
        border-radius: 2rem;
    }

    .retour:hover {
        background-color: $bleu;
        color: $blanc;
    }

    hr {
        margin-top: 2vmin;
    }
}