section.s3 {
    background-color: $bleu;
    color: $pale;
    height: fit-content;

    .insider {
        display: flex;
        justify-content: center;

        .gauche {
            display: flex;
            column-gap: 7vw;
            //width: 50vw;
            h3 {
                margin: 2vmin 0 1vmin;
            }
            .logo {
                display: flex;
                flex-direction: column;
                row-gap: 1vw;
                flex-wrap: wrap;
                //column-gap: 3vmin;
                align-items: center;
                text-align: center;
                figure {
                    flex: 0 0;
                    img {
                        width: 10vmin;
                        filter: grayscale(100);
                        transition: all .5s;
                    }
                    figcaption {
                        position: relative;
                        bottom: 50px;
                        opacity: 0;
                        transition: all .5s;
                    }
                }
                figure:hover {
                    img {
                        filter: none;
                    }
                    figcaption {
                        position: relative;
                        bottom: 0px;
                        opacity: 1;
                    }
                }
            }
        }

        .droite {
            display: none;
        }
    }

}