section.s1 {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto auto;
    background-color: $bleu;
    color: $pale;
    text-shadow: .2rem .2rem .1rem $bleu;
    text-align: center;

    h1 {
        grid-row: 1/2;
        font-weight: 200;
        z-index: 1;
    }
    img {
        position: absolute;
        z-index: 0;
        rotate: 12deg;
        justify-self: center;
        width: 80vmin;
    }
    div {
        z-index: 1;
        text-align: center;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        row-gap: 5vmin;
        margin-top: 20vmin;

        h2 {
            font-weight: 700;
        }
    }
}